* {
  font-family: "Noto Sans Lao", sans-serif;
}
header a {
  color: green;
  text-decoration: none;
}
div h2 a {
  text-decoration: none;
  color: goldenrod;
}
div h2 a:hover {
  text-decoration: underline;
}
