{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django website</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>    
    <header>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'postpage' %}">Posts</a> |
        <a href="{% url 'blogpage' %}">Blog</a> |
        <a href="{% url 'blog_add' %}">ເພີ່ມໂພດໃໝ່</a>    
    </header>
    
    <!-- ປຸ່ມ Login ແລະ Logout-->
    {% if user.is_authenticated %}
        <p>ສະບາຍດີ {{ user.username }} !!</p>
        <!-- ປຸ່ມ logout -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">ອອກຈາກລະບົບ</button>
        </form>
    {% else %}
        <p>ທ່ານຍັງບໍ່ໄດ້ເຂົ້າສູ່ລະບົບ.</p>
        <!-- ປຸ່ມ login -->
        <button>
            <a href="{% url 'login' %}">ເຂົ້າສູ່ລະບົບ</a>
        </button>
        <!-- ປຸ່ມ Sign up -->
        <button>
            <a href="{% url 'signup' %}">ລົງທະບຽນ</a>
        </button>
    {% endif %}

    {% block content %} 
    {% endblock content %}
</body>
</html>

